* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: azure;
}

header {
    background-color: aqua;
}


section .dos {
    background-color: chartreuse;
    height: 70%;
}

.altura1 {
    height: 10vh;
}

.altura2 {
    height: 10vh;
}

.altura3 {
    height: 70vh;
}

.altura4 {
    height: 10vh;
}

h2 {
    font-size: 5em;
}